.DS_Store
*.pyc
serverconfig.json
screenlog.0
.idea/
src/settings.json
venv/
/src/data_loading_service/settings.json
/src/data_transfer_manager/settings.json
/src/data_posting_service/settings.json
/src/data_posting_service/logs/
